schemas/sample/BasicDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/xsd2collection/sample"
           elementFormDefault="qualified">
  <xs:element name="BasicDocument">
    <xs:annotation>
      <xs:documentation>Minimal example document for the xsd2collection pipeline.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string"/>
        <xs:element name="Message" type="xs:string" minOccurs="0"/>
        <xs:element name="CreatedAt" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
